* {
  font-family: "Delius", serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  outline-style:none;
}

::selection {
  color: none;
  background: none;
}

body {
  background-image: url("./Images/Background.png");
  background-position: top;
  background-size: 100vw;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
}

a {
  cursor: pointer;
  width: fit-content;
  height: fit-content;
}

#iconDiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  position: absolute;
  left: 0%;
  width: 51.5vw;
  height: 33vw;
}

img {
  position: relative;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  width: 10vw;

}

.iconText {
  margin-top: -5vh;
}

p {
  text-align: center;
  color: white;
  font-size: 2vw;
  text-shadow: 2px 2px 4px #000000;
}

#screenDiv {
  position: absolute;
  top: 12.5vw;
  right: 24%;
  width: 23.3vw;
  height: 14vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

#screenText {
  position: relative;
  color: black;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: none;
}

.ytIcon {
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
  width: 7vw;
  height: 7vw;
}

.twitchIcon {
  margin-top: 3vw;
  margin-bottom: 2vw;
  width: 8vw;
  height: 5vw;
}

.steamIcon {
  margin-top: 1.5vw;
  margin-bottom: 2.5vw;
  width: 5vw;
  height: 5vw;
}
